{% extends 'index.html'   %}

{% block content  %}
<tr>
    <td>
        <h4 style="font-family:Elephant;">Name:SHASHANK D V</h4>
        <h4 style="font-family:Elephant;">Course:Bachelor of Computer Applications</h4>
        <h4 style="font-family:Elephant;">Domain:AI and Machine Learning</h4>
        <h4 style="font-family:Bodoni MT Black;">INTERNSHIP @ KARUNADU TECHNOLIGES PVT LTD</h4>
    </td>
</style>
</tr>        
<style>
    body{
        background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg);
    }
</style>

{% endblock %}

